.App {
  text-align: center;
  /* background-image: url('new.jpg');
  background-size: cover; /* This will cover the container without distortion 
  background-repeat: no-repeat;
  background-position: center center; */
  margin:0;
  padding: 0;
}





